<ul id = "path" class="col-lg-12 col-md-12 col-sm-12">
  <li><a routerLink="/">דף ראשי</a></li>
  <li> < </li>
  <li><a>תקנון</a></li>
</ul>

<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="info-content">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>תקנון האתר</h1>
      <ol>
      <h2>כללי</h2>
      <li>	My Mood הוא אתר אינטרנט ומועדון לקוחות, המוכר מוצרים שונים ללקוחות שנרשמו אליו באמצעות יצירת חשבון או כאורחים (להלן: "האתר"), ומופעל ע"י My Mood אונליין בע"מ מספר ח.פ. 515722536 (להלן: החברה") החברה מאשרת ללקוחותיה ולאורחיה גישה ורכישה דרך האתר בכפוף לתנאי השימוש המפורטים בתקנון זה (להלן: "התקנון").. בכל מקום בתקנון בו נכתב "החברה" הכוונה גם ל"אתר" ולהפך, וכן למי מטעמם.
      </li><li>	בתקנון זה נעשה שימוש בלשון נקבה לצורכי נוחיות בלבד, ושימוש זה כולל גם פנייה בלשון זכר ו/או רבים.
      </li><li>	תקנון זה מהווה את הבסיס לשימוש באתר והוא בלבד מסדיר את היחסים המשפטיים בין החברה לבין המשתמשת באתר. שימושך באתר מהווה הסכמה לתנאי תקנון זה ולשאר התנאים המופיעים ו/או שיופיעו באתר בעת שימושך. ככל שאינך מסכים למי מתנאי התקנון ו/או התנאים הנוספים באתר, הנך מתבקש להימנע מלעשות כל שימוש באתר מכל מין וסוג שהוא, לרבות הרשמה לאתר, הצטרפות למועדון הלקוחות ו/או רכישת מוצרים באמצעות האתר.
      </li><li>	מכירת המוצרים לא מיועדת למכירה סיטונאית ו/או למכירה חוזרת (קניית מוצרים מהאתר לצורך מכירתם לצד שלישי).
      </li><li>	החברה ו/או מי מטעמה לא יהיו אחראים ולא יישאו בכל נזק ישיר, עקיף, תוצאתי או מיוחד, שיגרם למשתמשת באתר ו/או לצד שלישי, כתוצאה משימוש או רכישה באמצעות האתר, שלא על פי תקנון זה, לרבות הפסד הכנסה ו/או מניעת רווח שיגרמו מכל סיבה שהיא.
      </li><li>	פרשנותו ואכיפתו של תקנון זה ו/או כל הנובע ממנו ייעשו בהתאם לחוקי מדינת ישראל, ויתבררו במקרה הצורך בבית המשפט במחוז מרכז בלבד. במקרה של סתירה בין הוראות הדין הקוגנטיות החלות להוראות תקנון זה תגברנה הוראות הדין החל.
      </li><li>	בכל שאלה ו/או בירור הנוגעים להפעלת האתר ולפעילותו ניתן לפנות ישירות לשירות הלקוחות של החברה (באמצעות פרטי הקשר המפורטים בתקנון זה להלן). החברה תעשה את מירב המאמצים להתייחס לכל פנייה בהקדם האפשרי.
      </li><li>	תקנון זה, וכל עילה משפטית הנובעת מהשימוש על פיו, לרבות תוקפם ופרשנותם של הוראות התקנון, יוכפפו לדין הישראלי בלבד, וסמכות השיפוט הבלעדית בכל סכסוך הנוגע לתקנון ולשימוש על פיו תהא נתונה לבתי המשפט המוסמכים באזור המרכז.
      </li>
      <h2>אופן השימוש באתר</h2>
      <li>	"משתמשת"/"לקוחה" באתר הנה כל מי שעושה שימוש בפונקציות האתר, הן במישרין והן בעקיפין, לרבות מבצעת רכישה בחנות, מבקרת, גולשת ו/או על כל שימוש אחר, בין אם דרך מחשב, נייד או דרך אחרת.
      </li><li>	כל משתמשת מצהירה, מסכימה ומתחייבת לעמוד בכל התנאים הבאים:
      </li><li>	לא להעביר, לאסוף או לעשות שימוש בתכנים ו/או בפרטים ו/או בכל מידע אחר הנמצא באתר בין אם המידע כאמור שייך לחברה ובין אם לצד ג'.
      </li><li>	לא להעלות לאתר תוכן בלתי חוקי או תמונות המציגים אלימות, עירום (לרבות חלקי), אפליה, תוכן הפוגע בצד שלישי, תכנים פורנוגראפיים או בעלי רמיזה מינית, תכנים הכוללים השמצות, בריונות, הטרדה, התעללות, איומים, התחזות או הפחדה של אנשים או ישויות, מידע פרטי או סודי. החברה תהא רשאית לסיים מיידית את השימוש של משתמשת העוברת על האמור לעיל ו/או למנוע ממנה כל שימוש באתר בעתיד.
      </li><li>	לא לעשות כל שימוש באתר לכל מטרה שהיא בלתי חוקית, פוגענית מחבלת אשר תפריע, תשבש, תשנה, תשמיד, תפגום, תגביל, תחבל או תשפיע בכל דרך אחרת על פעולתו התקינה של האתר בכל דרך שהיא, לרבות ומבלי הגבלה, וירוסים, תולעים, סוסים טרויאניים, תוכנת ריגול, תוכנה זדונית או כל אמצעי או טכנולוגיה משמידה או משבשת אחרת.
      </li><li>	המשתמשת רשאית לבצע שימוש בשירותי האתר למטרות חוקיות בלבד לפי כל דין, בהתאם לתנאי התקנון, בתום לב ולשימושה האישי בלבד, ולא למטרה אחרת, לרבות אך לא רק, לצורך מכירה חוזרת ו/או הצגה ללא היתר באתרים אחרים ו/או ביצוע רכישות שאחת או יותר ממטרותיה הנה מרמה ו/או ביצוע כל מעשה ו/או מחדל שיש בו כדי לפגוע באתר ו/או בפעילותו התקינה ו/או בצדדים שלישיים.
      </li><li>	המשתמשת באתר מצהירה כי הנה מקבלת את כל האמור בתקנון זה, על סעיפיו השונים ומסכימה לנהוג על פיהם.
      </li><li>	תנאי השימוש באתר שלהלן, מגדירים, בין השאר, את אופן השימוש באתר וכן מסדירים את אופן הזמנת המוצרים.
      </li>
      <h2>מוצרים ומחירים</h2>
      <li>	התמונות המוצגות באתר הינן להמחשה בלבד וייתכנו הבדלים בין מראה ומפרט המוצרים כפי שנראים בתמונה לבין המוצרים בפועל. ככל שנפלה טעות כלשהי כגון בתיאור הפריט או במחירו, הדבר לא יחייב את החברה, ובכל מקרה החברה לא תישא באחריות כלשהי העולה על ערך הפריט הנרכש וכן בכל נזק שאינו ישיר ו/או תוצאתי. מבלי לגרוע מהאמור לעיל, מוסכם ומובהר, כי החברה תשתדל לעשות את מיטב יכולתה על מנת להציג תמונות מדויקות ומידע מדויק ככל האפשר.
      </li><li>	המכירה דרך האתר הינה בכפוף למלאי הקיים במחסני האתר. החברה אינה מתחייבת להחזיק בכל עת מלאי של כל הדגמים ו/או הבגדים שתמונותיהם מופיעות באתר.
      </li><li>	כל מחירי המוצרים כפי שמופיעים באתר נקובים בש"ח (שקלים חדשים). המחירים כוללים מע״מ, אם הוא חל לפי הדין, ואינם כוללים דמי משלוח.
      </li><li>	החברה משתדלת להקפיד ולעדכן את מחירי המוצרים ודמי המשלוח באתר בזמן אמת (להלן: "המחירים"). עם זאת, המחירים מתעדכנים מעת לעת ולפיכך עלולים להיווצר פערים בין המחיר בעת איסוף המוצר לעגלת הקניה לבין עת השלמת הליך הזמנה. אם עודכנו המחירים לפני שהושלם תהליך ההזמנה, תחויב הלקוחה לפי המחירים המעודכנים. למען הסר ספק, החברה לא תישא באחריות כלשהי הנובעת ו/או קשורה לפערי המחירים כאמור.
      </li><li>	החברה רשאית לעדכן ולשנות את המחירים ללא צורך בהודעה מוקדמת ולפי שיקול דעתה הבלעדי. המחיר המחייב הוא המחיר שנמסר ללקוחה בעת השלמת הליך הזמנה.
      </li><li>	החברה רשאית לפרסם ו/או להציע למשתמשי האתר מבצעים ו/או הנחות וכל הטבה אחרת בתנאים שנקבעו על ידה ולפי שיקול דעתה הבלעדי. החברה תהא רשאית להפסיק כל הטבה כאמור באופן מידי וללא הודעה מוקדמת.
      </li><li>	ככלל לא יינתנו כפל הנחות/הטבות על פריטים הנמכרים באתר (אלא אם יצוין אחרת). בכלל זה, לא ניתן יהיה לממש קופונים המקנים הנחה ו/או הטבה כלשהי בגין פריטים בסייל. תנאי המימוש של קופונים ו/או מבצעים מתחלפים כפי שיפורט עם פרסום הקופון ו/או המבצע. תשומת לב כי ניתן לממש קופונים רק ברכישה באתר.
      </li><li>	מובהר כי במקרה של החזרת פריט שנרכש בהנחה/הטבה או תוך שימוש בקופון, הסכום שיוחזר ללקוחה יהיה הסכום ששילמה בפועל לאחר הנחה/הטבה, לא יינתן החזר על קופונים.
      </li>
      <h2>רכישה</h2>
      <li>	בטרם רכישה באתר הנך נדרשת למלא טופס הזמנה עם פרטי המזמינה ואמצעי התשלום (להלן: "טופס ההזמנה"). מילוי הפרטים הנדרשים בטופס ההזמנה באתר הינו תנאי מוקדם לביצוע הרכישה באתר. לשם הבטחת ביצוע ההזמנה במהירות, ביעילות וללא תקלות יש להקפיד על מסירת כל הפרטים באופן נכון ומדויק. אחריות למילוי הפרטים חלה על הלקוחה המזמינה בלבד. החברה לא אחראית על הזנת פרטים שגויים ועל תקלות כלשהן שהתרחשו כתוצאה מכך, וכן לא תשא בכל הוצאה הקשורה לכך.
      </li><li>	מסירת פרטים כוזבים הינה עבירה פלילית והעושה כן צפויה להיחשף להליכים משפטיים, פליליים ואזרחיים. החברה שומרת על זכותה לבטל הזמנה בכל מקרה של הגשת פרטים כוזבים, חלקיים או לא מדויקים.
      </li><li>	הרכישה באתר תבוצע בכפוף לאישור העסקה ע"י חברת האשראי. במקרה בו לא אושרה העסקה ע"י חברת האשראי תקבל המזמינה הודעה מתאימה וחשבונה לא יחויב בגין העסקה. לאחר מכן היא תוחזר אל דף התשלום ותתבקש להזין אמצעי תשלום חלופי. אחריות למילוי הפרטים חלה על המזמינה בלבד, האתר לא אחראי על פרטים שגויים שהוזנו.
      </li><li>	השלמת הליך המכירה מותנה באישור ואימות העסקה באמצעות הודעת אימות אשר תשלח לדואר האלקטרוני של המזמינה לאחר ביצוע ההזמנה (להלן: "הודעת אימות"). למען הסר ספק אין בחיוב הלקוחה ו/או בשליחת הודעת האימות בכדי לאשר שהמוצר קיים במלאי ו/או לחייב את החברה בהספקת המוצר. עם סיום הליך המכירה ישלח לדואר האלקטרוני של המזמינה מסמך המכיל את פרטי העסקה כנדרש על פי חוק (להלן: "מסמך פרטי העסקה").
      </li><li>	במקרה והודעת אימות ו/או מסמך פרטי העסקה לא נמסרו ו/או התקבלו אצל הלקוחה כאמור לעיל, מכל סיבה שהיא, הלקוחה תפעל ללא דיחוי ליידע את החברה על כך..
      </li>
      <h2>ביטול עסקה ע"י המשתמש</h2>
      <li>	רק הלקוחה המזמינה (גם אם מיענה את המשלוח לאחר) רשאית לבטל בכתב עסקה בכפוף ובהתאם להוראות חוק הגנת הצרכן תשמ"א - 1981 לרבות התקנות מכוחו (להלן "החוק") ולאמור לעיל ולהלן.
</li><li>	החזר כספי יינתן בהתאם להוראות החוק, ובהתאם לאמצעי התשלום בו בוצעה העסקה, החזר כספי לכרטיס האשראי יוחזר אך ורק לכרטיס האשראי דרכו שולמה הרכישה, ובהתאם ללוחות הזמנים של חברת האשראי, החזרת פריטים שנרכשו באמצעות קרדיט באתר יזוכו על ידי החזרת הקרדיט לחשבון האישי באתר." וככל שהלקוח שילם דמי משלוח, סכום זה לא יוחזר עם ביטול העסקה.
</li><li>	ביטול ההזמנה לפני שליחת המוצר או המוצרים ללקוחה (לפני יציאתם ממחסני האתר) לא יגרור חיוב נוסף, והאתר יחזיר ללקוחה את הסכומים ששילמה בגין העסקה. החזר כספי יינתן  בהתאם להוראות החוק.
</li><li>	בהתאם לחוק, הלקוחה רשאית לבטל עסקה באחת הדרכים שלהלן: בטלפון; בדואר רשום; באמצעות צ'ט לנציג החברה, בדואר אלקטרוני; באינטרנט בקישור ייעודי בדף הראשי באמצעות מסירת הודעה בכתב על ביטול ההזמנה בכל אחד מהאמצעי ההתקשרות המצוינים לעיל ומפורטים בתקנון זה. בהודעת ביטול על הלקוח לפרט את שמו ומספר הזהות שלו, ואם נמסרה הודעת הביטול בטלפון – מספר הזמנה
</li><li>	בכל מקרה לא תישא החברה באחריות כלשהי שהעלות במסגרתה עולה על ערך המוצר הנרכש וכן בכל נזק שאינו ישיר ו/או נזק תוצאתי.
</li><li>	החברה אינה אחראית לשימוש שתעשה הלקוחה ו/או המזמינה שלא בהתאם להוראות היצרן ו/או החברה לרבות הוראות הכביסה ו/או כל הוראה אחרת הנוגעת לשימוש במוצרים.
</li><li>	המשתמש יבדוק את המוצר מיד עם קבלתו ויודיע לחברה אם המוצר שהתקבל פגום או שונה מהותית מכפי שהמופיע באתר.
</li><li>	לא ניתן להחזיר/ להחליף פריטים מקטגוריית ביוטי (איפור, טיפוח, מוצרי איפור). מוצרים אחרים ניתנים להחזרה כשהם סגורים באריזתם המקורית בלבד, ובתנאי שלא נעשה בהם שימוש. לקים אינם ניתנים להחזרה או החלפה.
</li><li>	במקרה של ביטול עקב פגם במוצר או אי התאמה בין המוצר לבין הפרטים אשר נמסרו לצרכן בנוגע למוצר או עקב אי-אספקת הנכס או השירות במועד שנקבע לכך או הפרה אחרת של תנאי החוזה ("אי התאמה") תחזיר החברה, בתוך 14 ימים מיום קבלת ההודעה על הביטול, את אותו חלק ממחיר העסקה ששולם על ידי הצרכן בגין המוצר הפגום, תבטל את החיוב בשל העסקה, תמסור עותק מהודעת ביטול החיוב ולא תגבה דמי ביטול כלשהם מהצרכן. תודיע על כך הלקוחה לחברה בכתב, תבוצע בדיקה מול הלקוחה ובמידת הצורך יתואם המועד לאיסוף המוצר.
      </li>
      <h2>ביטול עסקה ע"י האתר</h2>
      <li> החברה תהא רשאית לבטל עסקה או מכירה, כולה או חלקה, במקרים כגון:
      </li><li>	אם הופר סעיף מסעיפי תקנון זה ו/או מכל מסמך מחייב ו/או תנאי מתנאיו של שירות שהוצע על ידי האתר;
      </li><li>	אם יתגלה כי הלקוחה הזינה פרטים שגויים בעת הרישום לאתר ו/או ביצוע ההזמנה;
      </li><li>	אם בוצע מעשה או מחדל אשר עלול לפגוע באתר ו/או בצדדים שלישיים כלשהם, לרבות לקוחות, עובדי וספקי האתר;
      </li>
      <h2>קניין רוחני וזכויות יוצרים</h2>
      <li>	האתר והתוכן המופיעים בו, לרבות, מבלי לגרוע מכלליות האמור: סימני מסחר, עיצוב האתר, גרפיקה, לוגואים, שרטוטים, נתונים, דגמים, עיצובים, איורים, מוסיקה, צילומים, תמונות, מפות, קטעי אודיו, קטעי וידאו, טקסט, גרפיקה וכיוצ"ב (להלן בפרק זה: "המידע") מוגנים על-ידי דיני זכויות יוצרים של מדינת ישראל, אמנות בינ"ל וחוקי זכויות יוצרים של מדינות אחרות ובכל מקרה שייכים  לחברה או לצדדים שלישיים אחרים.
      </li><li>	חל איסור מוחלט להעתיק ו/או לשכפל ו/או להפיץ ו/או למכור ו/או לפרסם ו/או להציג בכל מדיה ו/או להשתמש במידע ו/או לעשות כל פעולה ו/או שימוש, לרבות שימוש עצמי ו/או מסחרי, במישרין או בעקיפין, וכל האמור למעט אם החברה התירה זאת במפורש בכתב ומראש.
      </li><li>	הלקוחה מתחייבת שלא לבצע ולא לנסות לבצע שינוי כלשהו באתר ו/או העתקה ו/או הורדה של חומר האגור באתר לרבות בדרך של: "Peep-Link", "Robot" ,"PageScrape" ,"Spider" ו/או כל שיטה אחרת, אלגוריתם או תהליך ידני דומה, ולא להוריד או להעתיק ו/או להעביר לאחר חומר שאגור באתר החנות שאינו מיועד להורדה ו/או העברה ו/או לא לנסות לקבל גישה לעסקאות שבוצעו על ידי אחרים באמצעים כלשהם ו/או לא לבצע פעולה כלשהי העלולה לפגוע בקניינן הרוחני של החברה, לפגוע בפרטיות משתמשות אחרות ו/או לשנות מידע באתר ו/או להזיק לאתר ו/או למשתמשות בו.
      </li><li>	כל זכויות הקניין הרוחני (וזאת בין אם המדובר בזכויות רשומות ובין אם המדובר בזכויות שטרם נרשמו ו/או בהליכי רישום), בקשר למידע ו/או לאתר, לרבות, מבלי לגרוע מכלליות האמור: זכויות יוצרים, שם המתחם ("Domain"), פטנטים, סימני המסחר לרבות השם "My Mood", מדגמים, זכויות יוצרים, סודות מסחריים, עיצובים, סימני מסחר, Know How, שיטות, אופן הצגתו ועיצובו של האתר וכן כל עניין או פרט הקשורים באתר, הם רכושה הבלעדי של החברה ו/או החברה הנה בעלת רישיון השימוש בהם, והשימוש בכל הזכויות האמורות מותר לה באופן בלעדי ו/או בהתאם לתנאי הרישיון שניתנו לה.
      </li>
  </ol>
  <ul>
      <h2>שירות לקוחות</h2>
      <li> לפרטים ובירורים באשר להפעלת האתר ופעילותו, ניתן לפנות אל My Mood בפרטים הבאים:
      </li><li> טלפון והודעת טקסט :  0525835243
      </li><li> דוא"ל:  llironsheli@gmail.com
      </li>
</ul>
    </div>
  </div>
</div>
