<footer class="footer col-lg-12 col-md-12 col-sm-12">
  <ul class="foot col-lg-4 col-md-4 col-sm-12">
    <li><a routerLink="/customer-service">שירות לקוחות</a></li>
    <li><a routerLink="/contect-us">צור קשר</a></li>
    <li><a routerLink="/pay-info">שיטות תשלום</a></li>
  </ul>
  <ul class="foot col-lg-4 col-md-4 col-sm-12">
    <li><a routerLink="/returns">מדיניות החזרות</a></li>
    <li><a routerLink="/shipping-info">משלוחים</a></li>
    <li><a routerLink="/tell-us">שתפו אותנו</a></li>
  </ul>
  <ul class="foot col-lg-4 col-md-4 col-sm-12">
    <li><a routerLink="/terms">תקנון</a></li>
    <li><a routerLink="/about">אודות</a></li>
    <li><a routerLink="/liris">created by <img id="create" src="https://github.com/LiriSo/mymood/blob/master/liris.png?raw=true"></a></li>
  </ul>
</footer>
