<ul id = "path" class="col-lg-12 col-md-12 col-sm-12">
  <li><a routerLink="/">דף ראשי</a></li>
  <li> < </li>
  <li><a>Liri's</a></li>
</ul>


<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="info-content">
    <img src="https://github.com/LiriSo/mymood/blob/master/liriscoding.png?raw=true">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>זהו אתר לדוגמה שנוצר לצורך תיק עבודות</h2>
      <p>
        <br>
        בניית האתר התבצעה באמצעות תכנות בHTML, CSS, JS <br>
        הפרוייקט תרם לי להבנה משמעותית בתחום בניית האתרים <br>
        ובה בעת תרגול מעשי של פרוייקט Angular בסדר גודל יחסית גדול.<br>
<br><br>
         תודה לך שהקדשת זמן לצפייה באתר!<br>
        במידה ויש פרוייקט מעניין שאוכל להשתלב בו,<br>
        או אם יש לך הערות כלשהן,<br>
        או אפילו אם סתם תרצה/י לשתף אותי בחווית השימוש שלך באתר<br>
        יותר מאשמח אם תכתוב / תכתבי לי :)<br>
<br><br>
        לירון שלי<br>
      </p>
      <div class = "links">
        <a target="_blank" href="https://www.linkedin.com/in/liron-sheli">
          <img class = "contact-me"
          src = "https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0?e=1613001600&v=beta&t=Ix5CTDcVroP6SagjSIJBuReWInOZVrfTvyfEPRySkAM">
        </a>

        <a target="_blank" href="https://www.facebook.com/lsheli">
          <img class = "contact-me"
          src = "https://www.facebook.com/images/fb_icon_325x325.png">
        </a>

        <a href="mailto:l43111s@gmail.com">
          <img class = "contact-me"
          src = "https://lh3.googleusercontent.com/qTG9HMCp-s_aubJGeQWkR6M_myn-aXDJnraWn9oePcY1dGbYqXibaeLQBAeMdmxSBus=s180">
        </a>
      </div>
    </div>
  </div>
</div>
