<ul id = "path" class="col-lg-12 col-md-12 col-sm-12">
  <li><a routerLink="/">דף ראשי</a></li>
  <li> < </li>
  <li><a>אודות</a></li>
</ul>

<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="info-content">
    <h1>אודות</h1>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>על החברה</h2>
      <p>MyMood היא חברה ישראלית שמגיעה לספק חולצות איכותיות בעיצובים ייחודיים לגברים, נשים וילדים. המותג חדש ומתחדש, עם עיצובים מגניבים שכיף ללבוש ומתאימים לכל מצב בחיים.</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>איכות ובדים</h2>
      <p>החולצות שלנו מיוצרות ומודפסות בסין, במפעל הדואג לייצר את החולצות מכותנה איכותית ומקפיד על הדפסה מדוייקת ללא פשרות.</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>שירות לקוחות</h2>
      <p>בכל מקרה ובעיה באספקה ובמוצר, צוות שירות הלקוחות שלנו זמין 24/7.</p>
    </div>
  </div>
</div>
