<ul id = "path" class="col-lg-12 col-md-12 col-sm-12">
  <li><a routerLink="/">דף ראשי</a></li>
  <li> < </li>
  <li><a>שירות לקוחות</a></li>
</ul>

<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="info-content">
    <h1>שירות לקוחות</h1>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <ul class="large">
        <li> לפרטים ובירורים באשר להפעלת האתר ופעילותו, ניתן לפנות אל My Mood בפרטים הבאים:
        </li><li> טלפון והודעת טקסט :  0525835243
        </li><li> דוא"ל:  llironsheli@gmail.com
        </li><li> ניתן להגיש כל פניה גם דרך עמוד יצירת קשר באתר
          </li>
      <button class="button" routerLink="/contect-us">
        <span>לטופס פנייה באתר</span></button>
      </ul>

       </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>זמן מענה</h2>
      <p>בשל אילוצים זמן המענה ארוך מהרגיל, לכל היותר עד 7 ימי עסקים מיום ביצוע הפנייה.</p>
    </div>
  </div>
</div>
